
@mixin button-style($background, $color) {
  background: $background;
  color: $color;
  &:hover {
    background: darken($background, 5%);
  }
}

.btn {
  width: 200px;
  padding: 10px 0px;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px 0;

  &.btn-orange {
    @include button-style($color-orange, #FFF)
  }
  
  &.btn-green {
    @include button-style($color-green, #FFF)
  }
  
  &.btn-purple {
    @include button-style($color-purple, #FFF)
  }
  
}

